@*page "/counter"*@
<p>Current page: @currentCount</p>

<div>
    <button class="btn btn-primary" @onclick="DecrementCount">Prev</button>
    <button class="btn btn-primary" @onclick="IncrementCount">Next</button>
</div>

@code {
    private int currentCount = 1;

    private async Task IncrementCount(MouseEventArgs e)
    {
        await Task.Delay(500);
        if (e.CtrlKey == true) currentCount += 2;
        else if (e.ShiftKey == true) currentCount *= 2;
        else currentCount++;
    }

    private async Task DecrementCount(MouseEventArgs e)
    {
        await Task.Delay(500);
        if (e.CtrlKey == true) currentCount -= 2;
        else if (e.ShiftKey == true) currentCount /= 2;
        else currentCount--;
    }
}
