@page "/departments/delete/{id:int}"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using FrontendCartridges.Models
@inject HttpClient Http
@inject NavigationManager navigationManager

<h3>Delete Department</h3>
<p>Confirm this action?</p>
@*@<input @bind="Id" />*@
<Button Name="Confirm" Width="100" OnClick="DeleteAction" HasActive="true"></Button>
<Button Name="Cancel" Width="100" OnClick="Back" HasActive="true"></Button>

@code {
    [Parameter]
    public int Id { get; set; }

    private async Task DeleteDepartment() =>
    await Http.DeleteAsync($"https://localhost:44371/api/departments/{Id}");

    private void Back()
    {
        navigationManager.NavigateTo($"https://localhost:44312/departments");
    }

    private async Task DeleteAction()
    {
        await DeleteDepartment();
        Back();
    }
}
