@page "/employees"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using FrontendCartridges.Models
@inject HttpClient Http
@inject NavigationManager navigationManager

<h3>Employees</h3>
<Button Name="Add" Width="100" OnClick="Add"></Button>

@if (employees == null)
{
    <p>No employees found.</p>
}
else
{
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        @foreach (var employee in employees)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FullName</td>
                <td><a href="@($"https://localhost:44312/employees/edit/{employee.Id}")">Edit</a></td>
            </tr>
        }
    </table>
}

@code {
    private Employee[] employees;

    protected override async Task OnInitializedAsync() =>
        employees = await Http.GetFromJsonAsync<Employee[]>("https://localhost:44371/api/employees");

    private void Add()
    {
        navigationManager.NavigateTo("https://localhost:44312/employees/add");
    }
}