@page "/cartridgetypes/add"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using FrontendCartridges.Models
@using Microsoft.Extensions.Logging;
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ILogger<NewCartridgeType> Logger

<h3>New Cartridge type</h3>

<EditForm EditContext="@editContext" OnValidSubmit="@AddAction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="Vender" @bind-Value="addCartridgeType.Vender" placeholder="Vender" />
    <br />
    <InputText id="Model" @bind-Value="addCartridgeType.Model" placeholder="Model" />
    <br />
    <InputText id="PartNumber" @bind-Value="addCartridgeType.PartNumber" placeholder="Part number" />
    <br />

    <Button Type="submit" Name="Add" Width="100" />
    <Button Type="button" Name="Cancel" Width="100" OnClick="Back" HasActive="true"></Button>
</EditForm>

@code {
    private EditContext editContext;
    private CartridgeType addCartridgeType = new CartridgeType();

    protected override async Task OnInitializedAsync()
    {
        editContext = new(addCartridgeType);
    }

    private async Task AddCartridgeType()
    {
        await Http.PostAsJsonAsync("https://localhost:44371/api/cartridgetypes", addCartridgeType);
    }

    private void Back()
    {
        navigationManager.NavigateTo("https://localhost:44312/cartridgetypes");
    }

    private async Task AddAction()
    {
        if (editContext != null && editContext.Validate())
        {
            await AddCartridgeType();
            Back();
        }
    }
}
