@page "/departments/add"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using FrontendCartridges.Models
@using Microsoft.Extensions.Logging;
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ILogger<NewDepartmentName> Logger

<h3>New Department</h3>

<EditForm EditContext="@editContext" OnValidSubmit="@AddAction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="addDepartment.Name" placeholder="New Department" />
    <br />

    <Button Type="submit" Name="Add" Width="100" />
    <Button Type="button" Name="Cancel" Width="100" OnClick="Back" HasActive="true"></Button>
</EditForm>

@code {
    private EditContext editContext;
    private Department addDepartment = new Department();

    protected override void OnInitialized()
    {
        editContext = new(addDepartment);
    }

    private async Task AddDepartment()
    {
        await Http.PostAsJsonAsync("https://localhost:44371/api/departments", addDepartment);
    }

    private void Back()
    {
        navigationManager.NavigateTo("https://localhost:44312/departments");
    }

    private async Task AddAction()
    {
        if (editContext != null && editContext.Validate())
        {
            await AddDepartment();
            Back();
        }
    }
}
