@page "/employees/add"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using FrontendCartridges.Models
@using Microsoft.Extensions.Logging;
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ILogger<NewEmployee> Logger

<h3>New Employee</h3>

<EditForm EditContext="@editContext" OnValidSubmit="@AddAction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="LastName" @bind-Value="addEmployee.LastName" placeholder="Last name" />
    <br />
    <InputText id="FirstName" @bind-Value="addEmployee.FirstName" placeholder="First name" />
    <br />
    <InputText id="MiddleName" @bind-Value="addEmployee.MiddleName" placeholder="Middle name" />
    <br />

    <h6>Select Department</h6>
    @if (departments != null)
    {
        <InputSelect id="DepartmentId" @bind-Value="addEmployee.DepartmentId">
            @foreach (var department in departments)
                {
                <option value="@department.Id">@department.Name</option>
                }
        </InputSelect>
    }
    <br />

    <Button Type="submit" Name="Add" Width="100" />
    <Button Type="button" Name="Cancel" Width="100" OnClick="Back" HasActive="true"></Button>
</EditForm>

@code {
    private EditContext editContext;
    private IEnumerable<Department> departments;
    private Employee addEmployee = new Employee();

    protected override async Task OnInitializedAsync()
    {
        editContext = new(addEmployee);
        departments = await Http.GetFromJsonAsync<IEnumerable<Department>>("https://localhost:44371/api/departments");
    }

    private async Task AddEmployee()
    {
        await Http.PostAsJsonAsync("https://localhost:44371/api/employees", addEmployee);
    }

    private void Back()
    {
        navigationManager.NavigateTo("https://localhost:44312/employees");
    }

    private async Task AddAction()
    {
        if (editContext != null && editContext.Validate())
        {
            await AddEmployee();
            Back();
        }
    }
}
